@import "../../styles/globalStyles.scss";

.modal-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: hsla(204, 100%, 18%, 0.432);
  backdrop-filter: blur(1px);
  z-index: 200;
  

  .modal {
    position: relative;
    margin: 10vh auto;
    width: 35rem;
    height: 20rem;
    background: $primary-color;
    border-radius: 0.5rem;
    z-index: 201;

    display: flex;
    justify-content: center;
    overflow: hidden;

    & > svg {
        &:nth-of-type(1) {
            position: absolute;
            bottom: 0px;
            right: -300px;
            width: 200%;
            height: 40%;
        }
        &:nth-of-type(2) {
            position: absolute;
            bottom: 0px;
            height: 30%;
            right: -200px;
            width: 200%;
        }
        &:last-of-type {
            position: absolute;
            bottom: 0px;
            height: 20%;
            right: -300px;
            width: 200%;
        }
    }

    > div {

      h1 {
        width: 100%;
        color: $accent-color;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: -7rem;
          background: $secondary-color;
          padding-top: 0.25rem;
          width: 6rem;
        }
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          right: -7rem;
          background: $secondary-color;
          padding-top: 0.25rem;
          width: 6rem;
        }
      }

      .button-group {
        width: 100%;
        position: absolute;
        bottom: 2rem;
        left: 0;
        display: flex;
        justify-content: center;

        button {
          background: $secondary-color;
          border: hidden;
          border-radius: 0.25rem;
          transition: all ease-out 0.2s;
          &:hover {
            & > svg {
              fill: $secondary-color;
            }
            background-color: $primary-color;
            color: $secondary-color;
          }
        }

        .facebook-button {
          margin-right: 0.25rem;
          width: 6%;
          min-width: 1.5rem;
        }

        .continue-button {
          width: 70%;
          color: $primary-color;
          font-size: 1.5rem;
          font-weight: bold;

          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
        }
      }
    }

  }
}

@media only screen and (max-width: 600px) {
  .modal {
    max-width: min(90vw, 25rem);

    >div {
      h1 {
        &:before {
          max-width: 3rem;
          left: -3rem !important;
        }
        &::after {
          max-width: 3rem;
          right: -3rem !important;
        }
      }

      .continue-button {
        width: 50% !important;
      }
    }

  
  }

}

.mission-complete {
  > div {
    color: $secondary-color;

    h2 {
      margin: 0;
      padding: 0;
    }

    ul {
      margin: 0;

      li {
        font-size: 1.2rem;
      }
    }

  }
}
