$primary-color: #FFFFFF;
$primary-light-dark: #BFBFBF;
$primary-dark:#808080;
$primary-dark-dark:#404040;
$primary-contrast:#000000;
$secondary-color: #004879;
$secondary-dark:#00395E;
$secondary-light:#0076C4;
$accent-color:#D22E1E;
$accent-light: #DE2F1F;
$accent-dark: #B8271A;